/src/data

/src/feature_gen/__pycache__
/src/feature_gen/ae
/src/feature_gen/CodonBERT
/src/feature_gen/*.sh 
/src/feature_gen/rna_sstruct
/src/feature_gen/tokenizer.py



/src/models/bilstm/__pycache__
/src/models/bilstm/saved_models
/src/models/bilstm/predictions
/src/models/bilstm/wandb
/src/models/bilstm/*.sh
/src/models/bilstm/*.out

/src/models/GCN/__pycache__
/src/models/GCN/saved_models
/src/models/GCN/*.sh
/src/models/GCN/*.png 
/src/models/GCN/*.csv 
/src/models/GCN/*.out
/src/models/GCN/*.svg
/src/models/GCN/final_plots 
/src/models/GCN/plots 
/src/models/GCN/predictions
/src/models/GCN/wandb 
/src/models/GCN/bash_scripts

/src/models/xlnet

/repos
