/src/data

/src/feature_gen/__pycache__
/src/feature_gen/ae
/src/feature_gen/CodonBERT
/src/feature_gen/*.sh 
/src/feature_gen/rna_sstruct
/src/feature_gen/tokenizer.py

/src/models/bilstm/captum_plot.py
/src/models/bilstm/__pycache__
/src/models/bilstm/saved_models
/src/models/bilstm/predictions
/src/models/bilstm/wandb
/src/models/bilstm/*.sh
/src/models/bilstm/*.out
/src/models/bilstm/bilstm_model.py

/src/models/GNN/__pycache__
/src/models/GNN/saved_models
/src/models/GNN/*.sh
/src/models/GNN/*.png 
/src/models/GNN/*.csv 
/src/models/GNN/*.out
/src/models/GNN/*.svg
/src/models/GNN/final_plots 
/src/models/GNN/plots 
/src/models/GNN/predictions
/src/models/GNN/wandb 
/src/models/GNN/bash_scripts
/src/models/GNN/merge_npz_to_h5.py

/src/models/xlnet

/repos
