/src/data

/src/feature_gen 

/src/models/bilstm/__pycache__
/src/models/bilstm/saved_models
/src/models/bilstm/wandb
/src/models/bilstm/*.sh

/src/models/GCN/__pycache__
/src/models/GCN/saved_models
/src/models/GCN/*.sh
/src/models/GCN/*.png 
/src/models/GCN/*.csv 
/src/models/GCN/*.svg
/src/models/GCN/final_plots 
/src/models/GCN/plots 
/src/models/GCN/predictions
/src/models/GCN/wandb 
